body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fce4ec; /* Light pink background */
  color: #333;
}
header {
  background-color: #ff80ab; /* Pink header */
  padding: 20px;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 36px;
  color: white;
}
main {
  padding: 20px;
  padding-bottom: 1000px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product {
  background-color: white;
  border-radius: 20px; /* Increased border radius for rounded corners */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increased shadow effect */
  margin: 20px; /* Increased margin for spacing */
  padding: 30px; /* Increased padding inside the box */
  text-align: center;
  width: 250px; /* Increased width */
}

.product img {
  max-width: 80%; /* Reduced the maximum width of the image */
  border-radius: 12px; /* Increased border radius for the image */
  margin-bottom: 20px; /* Increased margin below the image */
}
h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #ff80ab; /* Pink heading */
}
p {
  margin: 5px 0 15px;
  font-size: 16px;
}
.sold-out {
  text-decoration: line-through;
  /* Additional styles for the strike-through text (optional) */
  color: #999; /* Change the color to gray for sold-out items */
}
button {
  background-color: #ff80ab; /* Pink button */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #ff527b; /* Darker pink on hover */
}
a.cart-link {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #ff80ab;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 20px;
}
a.cart-link:hover {
  background-color: #ff527b;
}

footer {
  background-color: #ff80ab; /* Pink footer */
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0%; /* Position at 50% from the top */
  width: 60%; /* Adjust the width as desired */
  max-width: 200px; /* Set a maximum width */
  left: 50%; /* Position at 50% from the left */
  transform: translate(-50%, -40%); /* Adjust to center horizontally */
  border-radius: 10px;
}
footer a.cart-link {
  display: inline-block;
  padding: 10px 40px;
  margin-top: 5px;
  background-color: #ff80ab;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 20px;
}
footer a.cart-link:hover {
  background-color: #ff527b;
}