body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fce4ec; /* Light pink background */
  color: #333;
}
header {
  background-color: #ff80ab; /* Pink header */
  padding: 20px;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: 36px;
  color: white;
}
main {
  padding: 20px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
}
.product img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #ff80ab; /* Pink heading */
}
p {
  margin: 5px 0 15px;
  font-size: 16px;
}
button {
  background-color: #ff80ab; /* Pink button */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #ff527b; /* Darker pink on hover */
}
a.cart-link {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #ff80ab;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
a.cart-link:hover {
  background-color: #ff527b;
}

footer {
  background-color: #ff80ab; /* Pink footer */
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a.cart-link {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #ff80ab;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
footer a.cart-link:hover {
  background-color: #ff527b;
}